#####################################################
#
# List of approvers for OpenTelemetry semantic conventions repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
# 
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/community/blob/main/community-members.md 
*   @open-telemetry/specs-semconv-maintainers @open-telemetry/specs-semconv-approvers

# Schemas and schema file tooling
/schemas/                       @open-telemetry/specs-semconv-approvers @tigrannajaryan
/internal/tools/schema_check.sh @open-telemetry/specs-semconv-approvers @tigrannajaryan

# Logs semantic conventions
/semantic_conventions/logs/                  @open-telemetry/specs-semconv-approvers @tigrannajaryan
/specification/exceptions/exceptions-logs.md @open-telemetry/specs-semconv-approvers @tigrannajaryan
/specification/general/events-general.md     @open-telemetry/specs-semconv-approvers @tigrannajaryan
/specification/general/logs-general.md       @open-telemetry/specs-semconv-approvers @tigrannajaryan
/specification/logs/                         @open-telemetry/specs-semconv-approvers @tigrannajaryan

# JVM semantic conventions approvers
/semantic_conventions/metrics/process-runtime-jvm-metrics.yaml              @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers
/semantic_conventions/metrics/process-runtime-jvm-metrics-experimental.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers

# HTTP semantic conventions approvers
/semantic_conventions/metrics/http.yaml @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/semantic_conventions/trace/http.yaml   @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers

# TODO - Add semconv area experts
