#####################################################
#
# List of approvers for OpenTelemetry semantic conventions repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/community-membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# Global owners, will be the owners for everything in the repo. Membership is tracked via https://github.com/open-telemetry/semantic-conventions/blob/main/README.md#contributing

* @open-telemetry/specs-semconv-maintainers @open-telemetry/specs-semconv-approvers

# Schemas and schema file tooling

/internal/tools/schema_check.sh                                                 @open-telemetry/specs-semconv-approvers @tigrannajaryan
/schemas/                                                                       @open-telemetry/specs-semconv-approvers @tigrannajaryan

# HTTP semantic conventions approvers

/model/metrics/http.yaml                                                        @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers
/model/trace/http.yaml                                                          @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-http-approvers

# JVM semantic conventions approvers

/model/metrics/process-runtime-jvm-metrics.yaml                                 @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers
/model/metrics/process-runtime-jvm-metrics-experimental.yaml                    @open-telemetry/specs-semconv-approvers @open-telemetry/semconv-jvm-approvers

# Logs semantic conventions

/docs/exceptions/exceptions-logs.md                                             @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/feature-flags/feature-flags-logs.md                                       @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/general/events-general.md                                                 @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/general/logs-general.md                                                   @open-telemetry/specs-semconv-approvers @tigrannajaryan
/docs/logs/                                                                     @open-telemetry/specs-semconv-approvers @tigrannajaryan
/model/logs/                                                                    @open-telemetry/specs-semconv-approvers @tigrannajaryan

# TODO - Add semconv area experts
#
# Please create an issue in the semantic-conventions repository:
#  https://github.com/open-telemetry/semantic-conventions/issues/new?assignees=&labels=&projects=&template=add-experts.md
#
