/.github
/.chloggen

# for the first iteration, we only reformat /docs/cloud* and will add the rest in individual PRs
/docs/**
!/docs/cloud*
!/docs/cloud*/**
/docs/registry
!/docs/non-normative*
!/docs/non-normative/groups*
!/docs/non-normative/groups/system*
!/docs/non-normative/groups/system*/**
/docs/**/*.json
/docs/dotnet*
/model/**/*.yaml
/schemas
CHANGELOG.md