{{- template.set_file_name("schema-diff.yaml") }}
{% if ctx.registry_attributes | length > 0 %}
    all:
      changes:
        - rename_attributes:
            attribute_map:
{% for attr in ctx.registry_attributes %}
              {{attr.old_name}}: {{attr.new_name}}
{% endfor %}
{% endif %}
{% if ctx.metrics | length > 0 %}
    metrics:
      changes:
        - rename_metrics:
{% for metric in ctx.metrics %}
              {{metric.old_name}}: {{metric.new_name}}
{% endfor %}
{% endif %}