{% macro render(attr, notes) -%}
{%- if attr.annotations is defined and attr.annotations.stability_envvar == true and attr.deprecated.reason | lower == "renamed" %}`Migrate`
{% elif (attr.annotations is not defined or attr.annotations.stability_envvar != true) and attr.deprecated.reason | lower == "renamed" %}`Rename`
{% elif attr.annotations is defined and attr.annotations.stability_envvar == true and attr.deprecated.reason | lower == "obsoleted" %}`Remove`
{% elif attr.deprecated.reason | lower == "obsoleted" %}`Drop`
{% elif attr.deprecated.reason | lower == "uncategorized" %}`Update`
{% else %}Unknown
{%- endif %}
{% endmacro %}
