{#- Macros for simplifying creating "Entity" documentation. -#}
{% import 'requirement.j2' as requirement %}
{% import 'stability.j2' as stability %}
{% import 'notes.j2' as notes %}
{% import 'attribute_macros.j2' as attrs %}
{% import 'enum_macros.j2' as enums %}
{% import 'sampling_macros.j2' as sampling %}
{% import 'examples_macros.j2' as examples %}
{%- import 'attribute_table.j2' as at -%}
{#- Create registry URLs. -#}
{% macro registry_url(id, registry) -%}
{{registry}}/{{ id | split_id | list | first | kebab_case }}.md#{{ id | kebab_case }}
{%- endmacro %}
{% macro print_associations(associations, registry) -%}
{% if associations is defined %}{%- for e in associations %}{%if loop.first == false %}; {% endif %}[`{{ e | trim }}`]({{registry_url(e, registry)}}){%- endfor %} {% endif %}
{%- endmacro %}
{#- Create role tags #}
{% macro role_tag(role) -%}{# Note: Rendering badges looks bad due to inability to size them in markdown. #}
{% if role == "identity" %}Identity{# ![Identity](https://img.shields.io/badge/-identity-purple) #}
{% elif role == "description" %}Description {# ![Description](https://img.shields.io/badge/-description-blue) #}
{% else %}Other{# ![Other](https://img.shields.io/badge/-other-red) #}
{% endif %}
{%- endmacro %}
{#- Header for snippets. -#}
{% macro header(entity) -%}
**Status:** {{ stability.badge(entity.stability, entity.deprecated, entity.brief) | trim }}

**type:** `{{ entity.name }}`

**Description:** {{ entity.brief | trim }}
{%- endmacro %}
{#- Render a single row on the entity table. -#}
{% macro attribute_row(e, attribute, attribute_registry_base_url, lineage_attributes, notes, role) -%}
| {{ role_tag(role) | trim }} | {{ attrs.name_with_link(attribute, attribute_registry_base_url, lineage_attributes) }} | {{ stability.badge(attribute.stability, attribute.deprecated, attribute.brief) | trim }} | {{ requirement.render({"level": attribute.requirement_level, "name": attrs.name(attribute)}, notes) | trim }} | {{ attrs.type(attribute) }} | {{ attribute.brief | trim }}{{ notes.add({"note": attribute.note, "name": attrs.name(attribute)}) }} | {{ examples.format(attribute) }}| {% if (((e.stability == "stable") and (attribute.stability != "stable")) or (attribute.requirement_level == "opt_in")) %}`Required`{% else %}`Opt-In`{% endif %} |
{%- endmacro %}
{#- Render attribute tables for entities. -#}
{% macro attribute_table(e, attributes, attribute_registry_base_url, lineage_attributes, notes, role) %}{% for attribute in attributes | attribute_sort %}{{ attribute_row(e, attribute, attribute_registry_base_url, lineage_attributes, notes, role) }}
{% endfor %}
{%- endmacro %}
{% macro all_attribute_table(e) -%}
{%- set id_attrs = e.attributes | selectattr("role", "equalto", "identifying") -%}
{%- set desc_attrs = e.attributes | selectattr("role", "equalto", "descriptive") -%}
{%- set misc_attrs = e.attributes | rejectattr("role", "defined") -%}
{%- if misc_attrs | length > 0 %}

> [!warning]
> This entity definition contains attributes without a role.
> Stable Entities MUST NOT have attributes without a defined role.
{% endif %}
**Attributes:**
{% if ((e.stability == "stable") and (e.attributes | rejectattr("stability", "eq", "stable") | length > 0)) %}
> [!NOTE]
>
> This entity contains experimental attributes and their inclusion must be explicitly enabled.
{% endif %}
| Role | Key | Stability | [Requirement Level](https://opentelemetry.io/docs/specs/semconv/general/attribute-requirement-level/) | Value Type | Description | Example Values | Configuration Requirement |
| --- | --- | --- | --- | --- | --- | --- | --- |{%- if id_attrs | length > 0 %}
{{ attribute_table(e, id_attrs, "/docs/registry/attributes", e.lineage.attributes, notes, "identity") | trim }}{% endif %}{%- if desc_attrs | length > 0 %}
{{ attribute_table(e, desc_attrs, "/docs/registry/attributes", e.lineage.attributes, notes, "description") | trim }}{% endif %}{%- if misc_attrs | length > 0 %}
{{ attribute_table(e, misc_attrs, "/docs/registry/attributes", e.lineage.attributes, notes, "other") | trim }}{% endif %}

{{ notes.render() | trim }}

{{ enums.tables(e.attributes | selectattr("type", "mapping"), notes) | trim }}
{%- endmacro %}

{% macro configuration(e) -%}
{{ configFile(e) | trim}}

{{configEnv(e) | trim}}
{%- endmacro %}

{% macro configFile(e) %}
**Configuration File Options:**

| Setting | Requirement Level | Category | Example Value | Attribute |
| --- | --- | --- | --- | --- |
{{ configFileSignal(e) | trim }}{% for attribute in e.attributes | sort(attribute="name") %}{% if attribute.requirement_level == "opt_in" or ((e.stability == "stable") and (attribute.stability != "stable")) or ((attribute.requirement_level != "opt_in" and attribute.role != "identifying")) or (attribute.annotations and attribute.annotations.code_generation and attribute.annotations.code_generation.user_settable == true) %}
{{ configFileLine(e, attribute, "/docs/registry/attributes") | trim}}{% endif %}{% endfor %}
{%- endmacro %}

{% macro configFileSignal(e) %}
{% if true %}| `resource.detection.detectors[]` | `Required` | Detector Inclusion | `{{e.name}}` | - |{% endif %}
{%- endmacro %}

{% macro configFileLine(e, attribute, attribute_registry_base_url) %}
{% if ((e.stability == "stable") and (attribute.stability != "stable")) %}| `TBA` | `Required` | Experimental Opt-in | TBA | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}{% if ((attribute.requirement_level == "opt_in")) %}
| `resource.experimentalresourcedetection.attributes.included[]` | `Conditionally Required` | Attribute Inclusion | `{{attribute.name}}` | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}{% if ((attribute.requirement_level != "opt_in" and attribute.role != "identifying")) %}
| `resource.experimentalresourcedetection.attributes.excluded[]` | `Conditionally Required` | Attribute Exclusion | `{{attribute.name}}` | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}{% if (attribute.annotations and attribute.annotations.code_generation and attribute.annotations.code_generation.user_settable == true) %}
| `resource.attributes[]` | `Opt-In` | User Defined Resource | `- name: {{attribute.name}},`{% if attrs.type(attribute) != "string" %}<br>&nbsp;&nbsp;&nbsp;`type:{{ attrs.type(attribute) }},`{%endif%}<br>&nbsp;&nbsp;&nbsp;`value: {{examples.first(attribute) | trim }}` | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}{% endmacro %}

{% macro configEnv(e) %}
{% set content = configEnvContent(e) | trim %}

{% if content != "" %}
**Environment Variable Options:**

| Setting | Requirement Level | Category | Example Value | Attribute |
| --- | --- | --- | --- | --- |
{{ content }}{% endif %}{% endmacro %}

{% macro configEnvContent(e) %}{% for attribute in e.attributes | sort(attribute="name") %}{% if ((e.stability == "stable") and (attribute.stability != "stable")) or (attribute.annotations and attribute.annotations.code_generation and attribute.annotations.code_generation.user_settable == true) %}
{{ configEnvLine(e, attribute, "/docs/registry/attributes") | trim}}{% endif %}{% endfor %}
{%- endmacro %}

{% macro configEnvLine(e, attribute, attribute_registry_base_url) %}
{% if ((e.stability == "stable") and (attribute.stability != "stable")) %}
| `TBA` | Required | Experimental Opt-in | TBA | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}{% if (attribute.annotations and attribute.annotations.code_generation and attribute.annotations.code_generation.user_settable == true) %}
| `OTEL_RESOURCE_ATTRIBUTES` | Conditionally Required | User Defined Resource | `{{attribute.name}}={% if attribute.examples %}{{attribute.examples[0]}}{% endif %}` | {{ attrs.name_with_link(attribute, attribute_registry_base_url, e.lineage_attributes) }} |{% endif %}
{% endmacro %}
