{%- if attribute.type is mapping %}`{{ attribute.type.members | first | attr("value") | trim }}`
{%- else %}
{%- if attribute.examples %}
{%- if attribute.examples is sequence %}
{%- for example in attribute.examples %}{%if loop.first == false %}; {% endif %}`{{ example }}`{%- endfor %}
{%- else %}
{{ attribute.examples }}
{%- endif %}
{%- endif %}
{%- endif %}
