{%- if attribute.examples %}
{%- if attribute.examples is sequence %}
{%- for example in attribute.examples %}{%if loop.first == false %}; {% endif %}`{{ example }}`{%- endfor %}
{%- else %}`{{ attribute.examples | trim }}`
{%- endif %}{%- elif attribute.type is mapping %}
{%- for e in attribute.type.members %}{% if loop.index0 < 3 %}{% if loop.first == false %}; {% endif %}`{{ e.value | trim }}`{% endif %}{%- endfor %}
{%- endif %}
