{% import 'annotation_macros.j2' as annotations %}
{%- set ns = namespace(notes=[],index=0) -%}
{%- macro add(note) %}{% if note.note or (note.attribute and note.attribute.annotations and note.attribute.annotations.docs.sources is defined) %}{% set ns.notes = [ns.notes, [note]] | flatten %} [{{ ns.notes | length + ns.index }}]{% endif %}{% endmacro %}
{%- macro add_with_limit(note) %}{% if note.note | length > 50 %}{% set ns.notes = [ns.notes, [note]] | flatten %} [{{ ns.notes | length + ns.index }}]{% elif note.note %} {{ note.note | trim }}{% endif %}{% endmacro %}
{% macro render() %}{% if ns.notes | length > 0 %}
{%- for note in ns.notes %}
**[{{ns.index+loop.index}}]{% if note.name %} `{{note.name}}`{% endif -%}:** {{render_note(note) | trim}}
{%- if not loop.last -%}{{"\n"}}{%- endif -%}
{% endfor %}{% set ns.index = ns.notes | length + ns.index %}{% set ns.notes = [] %}
{% endif %}{% endmacro %}

{% macro render_note(note) %}
{{ note.note | trim }}

{{ annotations.table(note.attribute, false, attribute_registry_base_url, lineage_attributes) | trim }}
{% endmacro %}
