{% macro snippet(attributes, attribute_registry_base_url) %}{% set sampling_attributes = attributes | selectattr("sampling_relevant", "true") %}{% if sampling_attributes | length > 0 %}
The following attributes can be important for making sampling decisions
and SHOULD be provided **at span creation time** (if provided at all):

{% for attribute in sampling_attributes %}* [{% include "attribute_name.j2" %}]({{attribute_registry_base_url}}/{{ attribute.name | split_id | list | first | kebab_case }}.md)
{% endfor %}{% endif %}{% endmacro %}