{{ "Semantic Convention Model Validation Failures" | ansi_bold | ansi_red }}:

{% for item in ctx %}
{%- if item.error.type == "policy_violation" %}
{%- if item.error.violation.category == "attribute_registry" %}
{{ item.error.provenance | ansi_red}}:
{%- if item.error.violation.id == "registry_must_be_attribute_group" %}
  Group {{ item.error.violation.group | ansi_green }} cannot be defined in the registry.
  not an attribute group.
{%- elif item.error.violation.id == "nonregistry_with_id_attr" %}
  Attribute {{ item.error.violation.attr | ansi_cyan }} cannot be defined in Group {{ item.error.violation.group | ansi_green }}
  Attribute Group not in Attribute Registry.
{%- elif item.error.violation.id == "registry_with_ref_attr" %}
  Attribute {{ item.error.violation.attr | ansi_cyan }} cannot be defined in Group {{ item.error.violation.group | ansi_green }}
  Registry cannot contain attribute references.
{%- else %}
UNKNOWN ATTRIBUTE REGISTRY ERROR! Please open a ticket agianst semconv with this info: 
{{ debug(item) }}
{%- endif %}
{%- else %}
{{ item.error.provenance | ansi_red }}:
  Violation: {{ item.error.violation.id | ansi_bold | ansi_green }}
  - Category         : {{ item.error.violation.category | ansi_cyan }}
  - Type             : {{ item.error.violation.type | ansi_cyan }}
  - SemConv group    : {{ item.error.violation.group | ansi_cyan }}
  - SemConv attribute: {{ item.error.violation.attr | ansi_cyan }}
{%- endif %}
{% else %}
{{ item.diagnostic.ansi_message }}
{%- endif %}
{%- endfor %}