name: Checks

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

permissions:
  contents: read

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: install dependencies
      run: npm ci --ignore-scripts

    - name: Check file and folder names
      run: make check-file-and-folder-names-in-docs

    - name: run markdownlint
      run: make markdownlint

  yamllint:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - name: install yamllint
      run: make install-yamllint

    - name: run yamllint
      run: yamllint . -f github

  link-check:
    uses: ./.github/workflows/reusable-link-check.yml

  markdown-toc-check:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: install dependencies
      run: npm ci --ignore-scripts

    - name: run markdown-toc
      run: make markdown-toc

    - name: validate markdown-toc
      run: git diff --exit-code ':*.md' || (echo 'Generated markdown Table of Contents is out of date, please run "make markdown-toc" and commit the changes in this PR.' && exit 1)

  misspell:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: run misspell
      run: make misspell

  semantic-conventions:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: verify semantic convention tables
      run: make table-check

  semantic-conventions-registry:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: verify registry tables
      run: |
        make registry-generation
        git diff --exit-code './docs/registry/*.md' || (echo 'Attribute registry markdown is out of date, please run "make registry-generation" and commit the changes in this PR.' && exit 1)

  schemas-check:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: verify schemas
      run: make schema-check

  areas-dropdown-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Components dropdown in issue templates
      run: |
        make generate-gh-issue-templates
        git diff --exit-code '.github/ISSUE_TEMPLATE' || (echo 'Dropdowns in issue templates is out of date, please run "make generate-gh-issue-templates" and commit the changes in this PR. Please note, if you are running it on Mac OS X, please make sure to use GNU version of sed instead of default "sed".' && exit 1)

  policies-check:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: verify semantic conventions yaml definitions
      run: make check-policies

  polices-test:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: verify semantic conventions yaml definitions
      run: make test-policies

  dead-yaml-check:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: find signals defined in yaml files that are not used in the markdown files
      run: make check-dead-yaml

  areas-table-check:
    runs-on: ubuntu-latest
    steps:
    - name: check out code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: check if the areas table is out-of-date
      run: make areas-table-check
