name: 'Prepare new issue'
on:
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  prepare-new-issue:
    permissions:
      issues: write # required for labeling issues
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'open-telemetry' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run prepare-new-issue.sh
        run: ./.github/scripts/prepare-new-issue.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE: ${{ github.event.issue.number }}
          BODY: ${{ github.event.issue.body }}
          OPENER: ${{ github.event.issue.user.login }}
